[Unit]
Description=Remote desktop service (VNC) for :0 display
#Requires=display-manager.service
#After=display-manager.service
After=network-online.target

[Service]
Type=simple
Environment=HOME={{ansible_env.HOME}}
#Environment=XAUTHORITY=/var/run/lightdm/root/:0
# rfb protocol: Remote Framebuffer Protocol is what VNC uses
ExecStart=x0vncserver -display :0 -rfbauth {{tigervnc_config_path | basename}}/passwd
Restart=on-failure
RestartSec=500ms

[Install]
WantedBy=multi-user.target
